
html {
	height: auto;
	width: auto;
}
body{
	background-color:#322f38;
	margin: 0px;
	padding: 0px;
}


.container3{
	display: grid;
	width: auto;
	height: auto;
	grid-template-columns:      450px 449px 449px;
	grid-template-rows:   90px
												 35px
												400px 
												400px 
												90px;
	grid-template-areas:          "nav1          nav1           nav1"
																"subnav1       subnav1         subnav1"
																"bloco1    maincontent1    maincontent1"
																"foto1     maincontent1    maincontent1"

																 "footer1     footer1        footer1";
}


/*---------------------------------------*/
.nav{
	grid-area: nav1;
	background-color: #519bdb;
	padding-top: 40px;
	text-align: center;
	overflow: hidden;

}
.nav a {
	color:  #306a9c;
	text-decoration: none;
	padding:70px;
	font-family: Courier New;
}
.nav a:hover {
	background: #306a9c;
	color:  #519bdb;
}
.subnav{
	grid-area: subnav1;
	background-color: #306a9c;
	text-align: center;
	padding-block: 10px;
	overflow: hidden;

}
.subnav a {
	color: #519bdb;
	text-decoration: none;
	padding: 15px;
	font-family: Courier New;
}
.subnav a:hover {
	background: #519bdb;
	color:#306a9c;
}



/*------------------------------------------------*/
.bloco{
	grid-area: bloco1;
	background-size: 450px 400px;
	background-image: url('1989stolengrid.jpg');
	margin: 2px;
}
.foto{
	grid-area: foto1;
	background-size: 450px 400px;
	background-image: url('1989tvgrid.jpg');
	margin: 2px;
}
.maincontent{
	grid-area: maincontent1;
	background-color:#95b0c2;
	margin: 2px;
	text-align:center;
}

@font-face{
	font-family: hand;
	src: url(TaylorSwiftHandwriting.ttf) format('truetype');
}
h1{
	font-family: hand;
	font-size: 40pt;
}
h4{
	font-family: 'Courier New';
	font-size: 15pt;
	padding-left: 7%;
	width:85%;
}


/*-------------------------------*/

.footer{
	grid-area: footer1;
	background-color:#519bdb;
	margin: 2px;
	padding-top:40px;
	text-align: center;
	overflow: hidden;
}
.footer a {
	color:  #306a9c; 
	text-decoration: none;
	padding: 100px 100px;
	font-family: Courier New;
}
.footer a:hover {
	background: #306a9c;
	color:  #519bdb;
}
