
html {
	height: auto;
	width:auto;
}
body{
	background-color: #321b10;
	margin: 0px;
	padding: 0px;
}


.container3{
	display: grid;
	width: auto;
	height: auto;
	grid-template-columns:      450px 449px 449px;
	grid-template-rows:   90px
												 35px
												200px 
												400px 
												90px;
	grid-template-areas:          "nav1          nav1           nav1"
																"subnav1       subnav1         subnav1"
																"bloco1    maincontent1    maincontent1"
																"foto1     maincontent1    maincontent1"

																 "footer1     footer1        footer1";
}


/*---------------------------------------*/
.nav{
	grid-area: nav1;
	background-color:#2f3d54;
	padding-top: 40px;
	text-align: center;
	overflow: hidden;

}
.nav a {
	color: #191730;
	text-decoration: none;
	padding:70px;
	font-family: Courier New;
}
.nav a:hover {
	background:#191730;
	color: 	#2f3d54;
}
.subnav{
	grid-area: subnav1;
	background-color:#191730;
	text-align: center;
	padding-block: 10px;
	overflow: hidden;

}
.subnav a {
	color:	#2f3d54;
	text-decoration: none;
	padding: 15px;
	font-family: Courier New;
}
.subnav a:hover {
	background:#2f3d54;
	color:	#191730;
}



/*------------------------------------------------*/
.bloco{
	grid-area: bloco1;
	background-color:#161533;
	margin: 2px;
	text-align: center;
	place-content: center;
	font-family: "IM Fell DW Pica", serif;
	font-style: italic;
}
.foto{
	grid-area: foto1;
	background-size: 450px 400px;
	background-image: url('midnightsgrid.webp');
	margin: 2px;
}
.maincontent{
	grid-area: maincontent1;
	background-color:#577198;
	margin: 2px;
	text-align: center;
}
@font-face{
	font-family: mid;
	src: url(Inter-Bold.ttf) format('truetype');
}
h1{
	font-family: mid;
	font-size: 35pt;
}
h4{
	font-family: 'Courier New';
	font-size: 15pt;
	padding-left: 7%;
	width:85%;
}
/*-------------------------------*/

.footer{
	grid-area: footer1;
	background-color:#2f3d54;
	margin: 2px;
	padding-top:40px;
	text-align: center;
	overflow: hidden;
}
.footer a {
	color:#191730;
	text-decoration: none;
	padding: 100px 100px;
	font-family: Courier New;
}
.footer a:hover {
	background:#191730;
	color: 	#2f3d54;
}
/*---------------------------*/ 

