
html {
	height: 100%;
	width: 100%;
}
body{
	background-color: 	#00a3ad;
	margin: 0px;
	padding: 0px;
}


.container3{
	display: grid;
	width: auto;
	height: auto;
	grid-template-columns:     450px 449px 449px;
	grid-template-rows:   90px
		                     35px
												200px 
												400px 
												90px;
	grid-template-areas:          "nav1          nav1           nav1"
		                            "subnav1       subnav1         subnav1"
											          "bloco1    maincontent1    maincontent1"
											          "foto1     maincontent1    maincontent1"
				
											           "footer1     footer1        footer1";
}


/*---------------------------------------*/
.nav{
	grid-area: nav1;
	background-color: #34f3ff;
	padding-top: 40px;
	text-align: center;
	overflow: hidden;
	
}
.nav a {
	color:  #024a50;
	text-decoration: none;
	padding:70px;
	font-family: Courier New;
}
.nav a:hover {
	background: #024a50;
	color:  #34f3ff;
}
.subnav{
	grid-area: subnav1;
	background-color: #024a50;
	text-align: center;
	padding-block: 10px;
	overflow: hidden;
	 
}
.subnav a {
	color: #34f3ff;
	text-decoration: none;
	padding: 15px;
	font-family: Courier New;
}
.subnav a:hover {
	background: #34f3ff;
	color:#024a50;
}



/*------------------------------------------------*/
.bloco{
	grid-area: bloco1;
	background-color:#c6e597;
	margin: 2px;
	text-align: center;
	place-content: center;
	font-family: "IM Fell DW Pica", serif;
	font-style: italic;
}
.foto{
	grid-area: foto1;
	background-size: 450px 400px;
	background-image: url('deubutgrid.jpg');
	background-color: #6aebb4;
	margin: 2px;
}
.maincontent{
	grid-area: maincontent1;
	background-color:#97e9c1;
	margin: 2px;
	text-align: center;
}

@font-face{
	font-family: debut;
	src: url(Satisfaction.ttf) format('truetype');
}
h1{
	font-family: debut;
}
h4{
	font-family: 'Courier New';
	font-size: 15pt;
	padding-left: 7%;
	width:85%;
}

/*-------------------------------*/

.footer{
	grid-area: footer1;
	background-color:#34f3ff;
	margin: 2px;
	padding-top:40px;
	text-align: center;
	overflow: hidden;
}
.footer a {
	color:  #024a50;
	text-decoration: none;
	padding: 100px 100px;
	font-family: Courier New;
}
.footer a:hover {
	background: #024a50;
	color:  #34f3ff;
}
/*--------------------------*/ 


